/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

:root {
    --sidebar-background: linear-gradient(to bottom, #082f499a,#036aa18c), url('./images/pragii-pX829a6ObhE-unsplash.jpg');
    --main-color: #0284c7;
    --tertiary-color: #f97316;
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}

html {
    font-size: 16px;
}

body {
    height: 100vh;
    display: grid;
    grid-template-columns: auto 7fr;
    grid-auto-rows: 100%;
}

/*Sidebar exclusive contents*/

.sidebar {
    height:100vh;
    position:sticky;
    z-index: 3;
    display:flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-image: var(--sidebar-background);
    background-size:cover;
    background-position: fixed;
    background-repeat: no-repeat;
    border-right: 2px solid  rgba(0, 0, 0, 0.616);
    width: 400px;
    overflow: hidden;
    transition:1s all;
}

.sidebar.collapse {
    width:0px;
}

.logo {
    height: 125px;
    width: 175px;
    margin-top: 2rem;
}

.form-container{
    padding: 1rem 1rem;
    min-height: 70%;
    width: 80%;
    flex: 1 0 initial;
    background-color: #e0f2fe8e;
    border-radius: 1rem;
    border-style: solid;
    border-color: rgba(0, 0, 0, 0.336);
    border-width: 2px;
    overflow: hidden;
}

.form-header {
    font-size: 2.5rem;
    font-weight: bold;
    margin-bottom: 1rem;
    text-align: center;
}

#addGameForm li {
    margin: 1rem 0;
}

#addGameForm li input:not([type="radio"]) {
    display:block;
}

label {
    font-size: 1.1rem;
    font-weight: 600;
}

input[type="text"] {
    appearance: none;
    border: none;
    background-color: transparent;
    border-bottom: 2px solid;
    width: 90%;
    margin-top: .4rem;
    height: 1.3rem;
    font-size: 1.2rem;
}

input[type="text"]:focus {
    outline: none !important;
}

.radio-header {
    font-size: 1.5rem;
    font-weight: bold;
    text-align: center;
}

.status-container {
    display:flex;
    gap: 1rem;
    justify-content: center;
}

input[type="radio"] {
    appearance: none;
    height: .8rem;
    width: .8rem;
    box-sizing: border-box;
    background-color: white;
    border-style: solid;
    border-color: var(--main-color);
    border-width: 2px;
}

input[type="radio"]:checked {
    background-color: var(--tertiary-color);
}

button[type="submit"],
.form-trigger-mobile {
    box-sizing: border-box;
    height: 3rem;
    padding: .5rem 1rem;
    font-size: 1.3rem;
    font-weight: 800;
    border-style: solid;
    border-width: 2px;
    border-radius: 1rem;
    background-color: #bae6fd;
    border-color: #082f49;
    color:#082f49;
}

button[type="submit"]:hover,
.form-trigger-mobile:hover {
    cursor: pointer;
}

.wrapper {
    display:flex;
    justify-content: center;
    width: 100%;
}

.side-footer {
    width: 100%;
    text-align: center;
    margin-bottom: .5rem;
    font-weight: 600;
}

.main {
    min-height: 100%;
    display:grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 9fr;
}

.searchbar {
    position:relative;
    z-index: 2;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--main-color);
    box-shadow: 10px 10px 10px 10px black;
}

#close-sidebar {
    position: absolute;
    top: 1rem;
    left: 1rem;
    height: 1.5rem;
}

#close-sidebar:hover{
    cursor:pointer;
}

.form-trigger-mobile {
    display: none;
}

.library {
    position: relative;
    display:grid;
    gap: 1rem;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    grid-auto-rows: minmax(350px, 25%);

    overflow-y: auto;

    box-sizing: border-box;
    padding: 4rem 2rem;
    position: relative;
    z-index: 1;
    background-color: #082f49;
}

.legend {
    position:absolute;
    top: 2rem;
    left: 1rem;
    height: 2rem;
}

.legend ul {
    display:flex;
    gap: 1rem;
    font-size: 1rem;
    color: white;
}

.legend ul li {
    display: flex;
    gap: .5rem;
    align-items: center;
}

.leg-square {
    display: inline-block;
    height:1rem;
    width: 1rem;
    border-style: solid;
    border-width: 2px;
    border-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    font-size: .8rem;
}

.not-played {
    background-color: white;
    color:black;
}

.started {
    background-color: var(--tertiary-color);
}

.completed {
    background-color: var(--main-color);
}

.game-container{
    position:relative;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    box-sizing: border-box;
    border-radius: 2rem;
    min-height: 100%;

    box-shadow: 5px 5px 8px 8px black;
}

.cover {
    height:60%;
    width:70%;
    box-sizing: border-box;
    border-radius: 2rem;
    border-style: solid;
    border-color:black;
    border-width: 2px;

    background-color: coral;
}

.game-info {
    width: 90%;
    max-height: 30%;
    padding: .5rem .5rem;
    box-sizing: border-box;
    background-color: rgba(105, 105, 105, 0.479);
    border-radius: 1rem;
    overflow-y: auto;
}

.game-info h2:not(:first-child){
    margin-top: .2rem;
}

.game-title{
    text-align: center;
    font-size: 1.2rem;
    font-weight: 600;
    text-decoration: underline;
}

.misc-info {
    font-size: 1rem;
    text-align: center;
}

.remove-button {
    position: absolute;
    top: .5rem;
    right: 1rem;
    padding: 2px 2px;
    border-style: solid;
    border-width: 2px;
    border-color: black;
    border-radius: 50%;
    background-color: transparent;
    height:1.5rem;
    width:1.5rem;
    background-color: white;
}

.remove-button:hover {
    cursor:pointer;
}

.game-container span{
    position: absolute;
    top: 10%;
    left: 5%;
    width: 10%;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.change-status {
    height: 1rem;
    width: 1rem;
    border-style: none;
    font-size: .8rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.change-status:hover{
    cursor:pointer;
}

  /* Firefox */
.game-info{
scrollbar-width:none;
scrollbar-color: rgba(105, 105, 105, 0.479) #ffffff;
}

/* Chrome, Edge, and Safari */
.game-info::-webkit-scrollbar {
width: 4px;
}

.game-info::-webkit-scrollbar-track {
background: transparent;
}

.game-info::-webkit-scrollbar-thumb {
background-color: transparent;
border-radius: 25%;
}

@media only screen and (max-width:1650px) {
    .logo {
        display:none;
    }
    .form-container {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }

    .form-header {
        font-size: 1.75rem;
        margin-bottom: .5rem;
    }
}

@media only screen and (max-width:1200px) {
    body {
        grid-template-columns: 1fr;
    }
    
    .sidebar {
        display:none;
    }

    #close-sidebar {
        display:none;
    }

    .library {
        grid-template-columns: repeat(auto-fill, minmax(200px, 225px));
        grid-auto-rows: 325px;
    }
    
    .game-title{
        text-align: center;
        font-size: 1rem;
        font-weight: 600;
        text-decoration: underline;
    }

    .misc-info {
        font-size: .8rem;
    }

    .form-trigger-mobile {
        display: inline-block;
    }

    .dimmer {
        position: absolute;
        top:0;
        left:0;
        height:100%;
        width: 100%;
        z-index: 4;
        display:flex;
        justify-content: center;
        align-items: center;
        background-color: rgba(0, 0, 0, 0.76);
    }

    .form-container {
        width: 60%;
    }

    .form-header {
        font-size: 2rem;
        margin-bottom: .5rem;
    }
    
    #addGameForm li {
        margin: .5rem 0;
    }
    
    label {
        font-size: .9rem;
        font-weight: 600;
    }
    
    input[type="text"] {
        appearance: none;
        border: none;
        background-color: transparent;
        border-bottom: 2px solid;
        width: 90%;
        margin-top: .4rem;
        height: 1.3rem;
        font-size: 1.2rem;
    }
    
    input[type="text"]:focus {
        outline: none !important;
    }
    .form-container {
        width: 60%;
        height: 90vh;
        overflow-y: auto;
    }

    .form-header {
        font-size: 2rem;
        margin-bottom: .5rem;
    }
    
    #addGameForm li {
        margin: .5rem 0;
    }
    
    label {
        font-size: .9rem;
        font-weight: 600;
    }
    
    input[type="text"] {
        appearance: none;
        border: none;
        background-color: transparent;
        border-bottom: 2px solid;
        width: 90%;
        margin-top: .4rem;
        height: 1rem;
        font-size: .9rem;
    }
    
    input[type="text"]:focus {
        outline: none !important;
    }
    
    .radio-header {
        font-size: 1rem;
        font-weight: bold;
        text-align: center;
    }
    
    .status-container {
        display:flex;
        gap: 1rem;
        justify-content: center;
    }
    
    input[type="radio"] {
        appearance: none;
        height: .8rem;
        width: .8rem;
        box-sizing: border-box;
        background-color: white;
        border-style: solid;
        border-color: rgb(60, 105, 138);
        border-width: 2px;
    }
}

@media only screen and (max-width: 600px) {
    .library {
        grid-template-columns: repeat(auto-fill, minmax(150px, 175px));
        grid-auto-rows: 300px;
    }
}
